In [1]:
import pandas as pd
import numpy as np
import seaborn as sns # data visualization
from matplotlib import pyplot as plt
%matplotlib inline

### Get Dataset:

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv')
df.head().T

,0,1,2,3,4
Make,BMW,BMW,BMW,BMW,BMW
Model,1 Series M,1 Series,1 Series,1 Series,1 Series
Year,2011,2011,2011,2011,2011
Engine Fuel Type,premium unleaded (required),premium unleaded (required),premium unleaded (required),premium unleaded (required),premium unleaded (required)
Engine HP,335.0,300.0,300.0,230.0,230.0
Engine Cylinders,6.0,6.0,6.0,6.0,6.0
Transmission Type,MANUAL,MANUAL,MANUAL,MANUAL,MANUAL
Driven_Wheels,rear wheel drive,rear wheel drive,rear wheel drive,rear wheel drive,rear wheel drive
Number of Doors,2.0,2.0,2.0,2.0,2.0
Market Category,"Factory Tuner,Luxury,High-Performance","Luxury,Performance","Luxury,High-Performance","Luxury,Performance",Luxury
Vehicle Size,Compact,Compact,Compact,Compact,Compact
Vehicle Style,Coupe,Convertible,Coupe,Coupe,Convertible
highway MPG,26,28,28,28,28
city mpg,19,19,20,18,18
Popularity,3916,3916,3916,3916,3916
MSRP,46135,40650,36350,29450,34500

In [3]:
Features = ['Make','Model','Year','Engine HP', 'Engine Cylinders', 'Transmission Type',
           'Vehicle Style', 'highway MPG', 'city mpg','MSRP']

In [4]:
df = df[Features]

In [5]:
df.columns

Index(['Make', 'Model', 'Year', 'Engine HP', 'Engine Cylinders',
       'Transmission Type', 'Vehicle Style', 'highway MPG', 'city mpg',
       'MSRP'],
      dtype='object')

### Data preparation

In [6]:
df.columns = df.columns.str.replace(' ','_').str.lower()

In [7]:
df.columns

Index(['make', 'model', 'year', 'engine_hp', 'engine_cylinders',
       'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg',
       'msrp'],
      dtype='object')

In [8]:
df.isnull().sum()

make                  0
model                 0
year                  0
engine_hp            69
engine_cylinders     30
transmission_type     0
vehicle_style         0
highway_mpg           0
city_mpg              0
msrp                  0
dtype: int64

In [9]:
df.dtypes

make                  object
model                 object
year                   int64
engine_hp            float64
engine_cylinders     float64
transmission_type     object
vehicle_style         object
highway_mpg            int64
city_mpg               int64
msrp                   int64
dtype: object

In [10]:
df['engine_hp'] = df['engine_hp'].fillna(0)
df['engine_cylinders'] = df['engine_hp'].fillna(0)

In [11]:
df.isnull().sum()

make                 0
model                0
year                 0
engine_hp            0
engine_cylinders     0
transmission_type    0
vehicle_style        0
highway_mpg          0
city_mpg             0
msrp                 0
dtype: int64

In [12]:
df.rename(columns={'msrp':'price'}, inplace =True)
df.columns

Index(['make', 'model', 'year', 'engine_hp', 'engine_cylinders',
       'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg',
       'price'],
      dtype='object')

## Question 1:
What is the most frequent observation (mode) for the column transmission_type?

In [13]:
df.describe()

,year,engine_hp,engine_cylinders,highway_mpg,city_mpg,price
count,11914.000000,11914.000000,11914.000000,11914.000000,11914.000000,1.191400e+04
mean,2010.384338,247.941749,247.941749,26.637485,19.733255,4.059474e+04
std,7.579740,110.507669,110.507669,8.863001,8.987798,6.010910e+04
min,1990.000000,0.000000,0.000000,12.000000,7.000000,2.000000e+03
25%,2007.000000,170.000000,170.000000,22.000000,16.000000,2.100000e+04
50%,2015.000000,225.000000,225.000000,26.000000,18.000000,2.999500e+04
75%,2016.000000,300.000000,300.000000,30.000000,22.000000,4.223125e+04
max,2017.000000,1001.000000,1001.000000,354.000000,137.000000,2.065902e+06

In [14]:
df['transmission_type'].value_counts()

transmission_type
AUTOMATIC           8266
MANUAL              2935
AUTOMATED_MANUAL     626
DIRECT_DRIVE          68
UNKNOWN               19
Name: count, dtype: int64

In [15]:
from statistics import mode

In [16]:
mode(df['transmission_type'])

'AUTOMATIC'

In [17]:
set(df['transmission_type'])

{'AUTOMATED_MANUAL', 'AUTOMATIC', 'DIRECT_DRIVE', 'MANUAL', 'UNKNOWN'}

## Question 2: 

Create the correlation matrix for the numerical features of your dataset. In a correlation matrix, you compute the correlation coefficient between every pair of features in the dataset.

What are the two features that have the biggest correlation in this dataset?

In [18]:
numerical = ['year', 'engine_hp', 'engine_cylinders', 'highway_mpg', 'city_mpg']

In [19]:
df[numerical].describe()

,year,engine_hp,engine_cylinders,highway_mpg,city_mpg
count,11914.000000,11914.000000,11914.000000,11914.000000,11914.000000
mean,2010.384338,247.941749,247.941749,26.637485,19.733255
std,7.579740,110.507669,110.507669,8.863001,8.987798
min,1990.000000,0.000000,0.000000,12.000000,7.000000
25%,2007.000000,170.000000,170.000000,22.000000,16.000000
50%,2015.000000,225.000000,225.000000,26.000000,18.000000
75%,2016.000000,300.000000,300.000000,30.000000,22.000000
max,2017.000000,1001.000000,1001.000000,354.000000,137.000000

In [20]:
df[numerical].corr()

                      year  engine_hp  engine_cylinders  highway_mpg  city_mpg
year              1.000000   0.338714          0.338714     0.258240  0.198171
engine_hp         0.338714   1.000000          1.000000    -0.415707 -0.424918
engine_cylinders  0.338714   1.000000          1.000000    -0.415707 -0.424918
highway_mpg       0.258240  -0.415707         -0.415707     1.000000  0.886829
city_mpg          0.198171  -0.424918         -0.424918     0.886829  1.000000

In [21]:
df[numerical].corr().unstack().sort_values(ascending=False)

year              year                1.000000
engine_hp         engine_hp           1.000000
highway_mpg       highway_mpg         1.000000
engine_cylinders  engine_hp           1.000000
engine_hp         engine_cylinders    1.000000
engine_cylinders  engine_cylinders    1.000000
city_mpg          city_mpg            1.000000
                  highway_mpg         0.886829
highway_mpg       city_mpg            0.886829
year              engine_hp           0.338714
                  engine_cylinders    0.338714
engine_hp         year                0.338714
engine_cylinders  year                0.338714
year              highway_mpg         0.258240
highway_mpg       year                0.258240
year              city_mpg            0.198171
city_mpg          year                0.198171
engine_cylinders  highway_mpg        -0.415707
highway_mpg       engine_hp          -0.415707
                  engine_cylinders   -0.415707
engine_hp         highway_mpg        -0.415707
engine_cylinders  city_mpg           -0.424918
engine_hp         city_mpg           -0.424918
city_mpg          engine_hp          -0.424918
                  engine_cylinders   -0.424918
dtype: float64

highway_mpg       city_mpg

#### Make price binary:
Let's create a variable above_average which is 1 if the price is above its mean value and 0 otherwise.

In [22]:
df['above_average'] = (df['price']>= df['price'].mean()).astype(int)
df['above_average']

0        1
1        1
2        0
3        0
4        0
        ..
11909    1
11910    1
11911    1
11912    1
11913    0
Name: above_average, Length: 11914, dtype: int32

In [23]:
df.columns

Index(['make', 'model', 'year', 'engine_hp', 'engine_cylinders',
       'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg',
       'price', 'above_average'],
      dtype='object')

In [24]:
df = df.drop(['price'], axis=1)

In [25]:
df.columns

Index(['make', 'model', 'year', 'engine_hp', 'engine_cylinders',
       'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg',
       'above_average'],
      dtype='object')

In [20]:
from sklearn.model_selection import train_test_split

In [28]:
df_full_train, df_test = train_test_split(df,test_size=0.2, random_state=42 )

In [29]:
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [30]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [31]:
y_train = df_train.above_average.values
y_val = df_val.above_average.values
y_test = df_test.above_average.values

In [32]:
del df_train['above_average']
del df_val['above_average']
del df_test['above_average']

### Question 3:

In [33]:
from sklearn.metrics import mutual_info_score

In [34]:
df.columns

Index(['make', 'model', 'year', 'engine_hp', 'engine_cylinders',
       'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg',
       'above_average'],
      dtype='object')

In [35]:
categorical = ['make', 'model', 'transmission_type', 'vehicle_style']

In [36]:
df.dtypes

make                  object
model                 object
year                   int64
engine_hp            float64
engine_cylinders     float64
transmission_type     object
vehicle_style         object
highway_mpg            int64
city_mpg               int64
above_average          int32
dtype: object

In [37]:
def mi_calculation(series):
    return mutual_info_score(series, y_train)

df_mi = df_train[categorical].apply(mi_calculation).round(2)
df_mi = df_mi.sort_values(ascending=False).to_frame(name='MI')

display(df_mi.head())
display(df_mi.tail())

                     MI
model              0.46
make               0.24
vehicle_style      0.08
transmission_type  0.02

                     MI
model              0.46
make               0.24
vehicle_style      0.08
transmission_type  0.02

## Question 4:
* Now let's train a logistic regression.
* Remember that we have several categorical variables in the dataset. Include them using one-hot encoding.
* Fit the model on the training dataset.
    * To make sure the results are reproducible across different versions of Scikit-Learn, fit the model with these parameters:
    * model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
* Calculate the accuracy on the validation dataset and round it to 2 decimal digits.

What accuracy did you get?

In [17]:
from sklearn.feature_extraction import DictVectorizer

In [76]:
# 1) convert dataframe into a dictionary

train_dict = df_train.to_dict(orient='records')

In [77]:
train_dict[0]

{'make': 'Mitsubishi',
 'model': 'Endeavor',
 'year': 2011,
 'engine_hp': 225.0,
 'engine_cylinders': 225.0,
 'transmission_type': 'AUTOMATIC',
 'vehicle_style': '4dr SUV',
 'highway_mpg': 19,
 'city_mpg': 15}

In [78]:
dv = DictVectorizer(sparse=False)

In [79]:
dv.fit(train_dict)

DictVectorizer(sparse=False)

In [80]:
dv.get_feature_names_out()

array(['city_mpg', 'engine_cylinders', 'engine_hp', 'highway_mpg',
       'make=Acura', 'make=Alfa Romeo', 'make=Aston Martin', 'make=Audi',
       'make=BMW', 'make=Bentley', 'make=Bugatti', 'make=Buick',
       'make=Cadillac', 'make=Chevrolet', 'make=Chrysler', 'make=Dodge',
       'make=FIAT', 'make=Ferrari', 'make=Ford', 'make=GMC',
       'make=Genesis', 'make=HUMMER', 'make=Honda', 'make=Hyundai',
       'make=Infiniti', 'make=Kia', 'make=Lamborghini', 'make=Land Rover',
       'make=Lexus', 'make=Lincoln', 'make=Lotus', 'make=Maserati',
       'make=Maybach', 'make=Mazda', 'make=McLaren', 'make=Mercedes-Benz',
       'make=Mitsubishi', 'make=Nissan', 'make=Oldsmobile',
       'make=Plymouth', 'make=Pontiac', 'make=Porsche',
       'make=Rolls-Royce', 'make=Saab', 'make=Scion', 'make=Spyker',
       'make=Subaru', 'make=Suzuki', 'make=Tesla', 'make=Toyota',
       'make=Volkswagen', 'make=Volvo', 'model=1 Series', 'model=100',
       'model=124 Spider', 'model=190-Class', 'model=2', 'model=2 Series',
       'model=200', 'model=200SX', 'model=240', 'model=240SX', 'model=3',
       'model=3 Series', 'model=3 Series Gran Turismo', 'model=300',
       'model=300-Class', 'model=3000GT', 'model=300M', 'model=300ZX',
       'model=323', 'model=350-Class', 'model=350Z', 'model=360',
       'model=370Z', 'model=4 Series', 'model=4 Series Gran Coupe',
       'model=400-Class', 'model=420-Class', 'model=456M',
       'model=458 Italia', 'model=4C', 'model=4Runner', 'model=5',
       'model=5 Series', 'model=5 Series Gran Turismo', 'model=500',
       'model=500-Class', 'model=500L', 'model=500X', 'model=500e',
       'model=550', 'model=560-Class', 'model=57', 'model=570S',
       'model=575M', 'model=599', 'model=6', 'model=6 Series',
       'model=6 Series Gran Coupe', 'model=600-Class', 'model=6000',
       'model=612 Scaglietti', 'model=62', 'model=626', 'model=7 Series',
       'model=740', 'model=760', 'model=780', 'model=8 Series',
       'model=80', 'model=850', 'model=9-2X', 'model=9-3',
       'model=9-3 Griffin', 'model=9-4X', 'model=9-5', 'model=9-7X',
       'model=90', 'model=900', 'model=9000', 'model=911', 'model=928',
       'model=929', 'model=940', 'model=944', 'model=960', 'model=968',
       'model=A3', 'model=A4', 'model=A5', 'model=A6', 'model=A7',
       'model=A8', 'model=ALPINA B6 Gran Coupe', 'model=ALPINA B7',
       'model=AMG GT', 'model=ATS', 'model=ATS Coupe', 'model=Acadia',
       'model=Acadia Limited', 'model=Accent', 'model=Acclaim',
       'model=Accord', 'model=Accord Crosstour', 'model=Accord Hybrid',
       'model=Accord Plug-In Hybrid', 'model=Achieva',
       'model=ActiveHybrid 5', 'model=ActiveHybrid 7',
       'model=ActiveHybrid X6', 'model=Aerio', 'model=Aerostar',
       'model=Alero', 'model=Allante', 'model=Altima',
       'model=Altima Hybrid', 'model=Amanti', 'model=Armada',
       'model=Arnage', 'model=Aspen', 'model=Aspire', 'model=Astro',
       'model=Astro Cargo', 'model=Aurora', 'model=Avalanche',
       'model=Avalon', 'model=Avalon Hybrid', 'model=Avenger',
       'model=Aventador', 'model=Aveo', 'model=Aviator', 'model=Axxess',
       'model=Azera', 'model=Aztek', 'model=Azure', 'model=Azure T',
       'model=B-Class Electric Drive', 'model=B-Series',
       'model=B-Series Pickup', 'model=B-Series Truck',
       'model=B9 Tribeca', 'model=BRZ', 'model=Baja', 'model=Beetle',
       'model=Beetle Convertible', 'model=Beretta',
       'model=Black Diamond Avalanche', 'model=Blackwood', 'model=Blazer',
       'model=Bonneville', 'model=Borrego', 'model=Boxster',
       'model=Bravada', 'model=Breeze', 'model=Bronco', 'model=Bronco II',
       'model=Brooklands', 'model=Brougham', 'model=C-Class',
       'model=C-Max Hybrid', 'model=C/K 1500 Series',
       'model=C/K 2500 Series', 'model=C30', 'model=C43 AMG', 'model=C70',
       'model=C8', 'model=CC', 'model=CL', 'model=CL-Class',
       'model=CLA-Class', 'model=CLK-Class', 'model=CLS-Class',
       'model=CR-V', 'model=CR-Z', 'model=CT6', 'model=CTS',
       'model=CTS Coupe', 'model=CTS Wagon', 'model=CTS-V',
       'model=CTS-V Coupe', 'model=CTS-V Wagon', 'model=CX-3',
       'model=CX-5', 'model=CX-7', 'model=CX-9', 'model=Cabrio',
       'model=Cabriolet', 'model=Cadenza', 'model=Caliber',
       'model=Camaro', 'model=Camry', 'model=Camry Hybrid',
       'model=Camry Solara', 'model=Canyon', 'model=Caprice',
       'model=Captiva Sport', 'model=Caravan', 'model=Carrera GT',
       'model=Cascada', 'model=Catera', 'model=Cavalier', 'model=Cayenne',
       'model=Cayman', 'model=Cayman S', 'model=Celebrity',
       'model=Celica', 'model=Century', 'model=Challenger',
       'model=Charger', 'model=Chevy Van', 'model=City Express',
       'model=Civic', 'model=Civic CRX', 'model=Civic del Sol',
       'model=Classic', 'model=Cobalt', 'model=Colorado', 'model=Colt',
       'model=Concorde', 'model=Continental',
       'model=Continental Flying Spur',
       'model=Continental Flying Spur Speed', 'model=Continental GT',
       'model=Continental GT Speed',
       'model=Continental GT Speed Convertible', 'model=Continental GTC',
       'model=Continental GTC Speed', 'model=Continental Supersports',
       'model=Continental Supersports Convertible', 'model=Contour',
       'model=Corniche', 'model=Corolla', 'model=Corolla iM',
       'model=Corrado', 'model=Corvette', 'model=Corvette Stingray',
       'model=Coupe', 'model=Cressida', 'model=Crossfire',
       'model=Crosstour', 'model=Crosstrek', 'model=Crown Victoria',
       'model=Cruze', 'model=Cruze Limited', 'model=Cube',
       'model=Custom Cruiser', 'model=Cutlass', 'model=Cutlass Calais',
       'model=Cutlass Ciera', 'model=Cutlass Supreme', 'model=DB9',
       'model=DB9 GT', 'model=DBS', 'model=DTS', 'model=Dakota',
       'model=Dart', 'model=Dawn', 'model=Daytona', 'model=DeVille',
       'model=Defender', 'model=Diablo', 'model=Diamante',
       'model=Discovery', 'model=Discovery Series II',
       'model=Discovery Sport', 'model=Durango', 'model=Dynasty',
       'model=E-150', 'model=E-250', 'model=E-Class',
       'model=E-Series Van', 'model=E-Series Wagon', 'model=E55 AMG',
       'model=ECHO', 'model=ES 250', 'model=ES 300', 'model=ES 300h',
       'model=EX', 'model=EX35', 'model=Eclipse', 'model=Eclipse Spyder',
       'model=Edge', 'model=Eighty-Eight', 'model=Eighty-Eight Royale',
       'model=Elantra', 'model=Elantra Coupe', 'model=Elantra GT',
       'model=Elantra Touring', 'model=Eldorado', 'model=Electra',
       'model=Element', 'model=Elise', 'model=Enclave', 'model=Encore',
       'model=Endeavor', 'model=Entourage', 'model=Envision',
       'model=Envoy', 'model=Envoy XL', 'model=Envoy XUV', 'model=Eos',
       'model=Equator', 'model=Equinox', 'model=Equus', 'model=Escalade',
       'model=Escalade ESV', 'model=Escalade EXT',
       'model=Escalade Hybrid', 'model=Escape', 'model=Escape Hybrid',
       'model=Escort', 'model=Esprit', 'model=Esteem', 'model=EuroVan',
       'model=Evora', 'model=Excel', 'model=Exige', 'model=Expedition',
       'model=Explorer', 'model=Explorer Sport',
       'model=Explorer Sport Trac', 'model=Expo', 'model=Express',
       'model=Express Cargo', 'model=F-150', 'model=F-150 Heritage',
       'model=F-150 SVT Lightning', 'model=F-250', 'model=F12 Berlinetta',
       'model=F430', 'model=FF', 'model=FJ Cruiser', 'model=FR-S',
       'model=FX', 'model=FX35', 'model=FX45', 'model=FX50',
       'model=Festiva', 'model=Fiesta', 'model=Firebird', 'model=Fit',
       'model=Five Hundred', 'model=Fleetwood', 'model=Flex',
       'model=Flying Spur', 'model=Focus', 'model=Focus ST',
       'model=Forenza', 'model=Forester', 'model=Forte', 'model=Fox',
       'model=Freelander', 'model=Freestar', 'model=Freestyle',
       'model=Frontier', 'model=Fusion', 'model=Fusion Hybrid',
       'model=G Convertible', 'model=G Coupe', 'model=G Sedan',
       'model=G-Class', 'model=G20', 'model=G3', 'model=G35', 'model=G37',
       'model=G37 Convertible', 'model=G37 Coupe', 'model=G37 Sedan',
       'model=G5', 'model=G6', 'model=G8', 'model=G80', 'model=GL-Class',
       'model=GLA-Class', 'model=GLC-Class', 'model=GLE-Class',
       'model=GLE-Class Coupe', 'model=GLI', 'model=GLK-Class',
       'model=GLS-Class', 'model=GS 200t', 'model=GS 300', 'model=GS 350',
       'model=GS 400', 'model=GS 430', 'model=GS 450h', 'model=GS 460',
       'model=GT', 'model=GT-R', 'model=GTI', 'model=GTO', 'model=GX 460',
       'model=GX 470', 'model=Galant', 'model=Gallardo', 'model=Genesis',
       'model=Genesis Coupe', 'model=Ghibli', 'model=Ghost',
       'model=Ghost Series II', 'model=Golf', 'model=Golf Alltrack',
       'model=Golf GTI', 'model=Golf R', 'model=Golf SportWagen',
       'model=GranSport', 'model=GranTurismo',
       'model=GranTurismo Convertible', 'model=Grand Am',
       'model=Grand Caravan', 'model=Grand Prix', 'model=Grand Vitara',
       'model=Grand Voyager', 'model=H3', 'model=H3T', 'model=HHR',
       'model=HR-V', 'model=HS 250h', 'model=Highlander',
       'model=Highlander Hybrid', 'model=Horizon', 'model=Huracan',
       'model=I30', 'model=I35', 'model=ILX', 'model=ILX Hybrid',
       'model=IS 200t', 'model=IS 250', 'model=IS 250 C', 'model=IS 300',
       'model=IS 350', 'model=IS 350 C', 'model=IS F', 'model=Impala',
       'model=Impala Limited', 'model=Imperial', 'model=Impreza',
       'model=Impreza WRX', 'model=Insight', 'model=Integra',
       'model=Intrepid', 'model=Intrigue', 'model=J30', 'model=JX',
       'model=Jetta', 'model=Jetta GLI', 'model=Jetta Hybrid',
       'model=Jetta SportWagen', 'model=Jimmy', 'model=Journey',
       'model=Juke', 'model=Justy', 'model=K900', 'model=Kizashi',
       'model=LFA', 'model=LHS', 'model=LR2', 'model=LR3', 'model=LR4',
       'model=LS', 'model=LS 400', 'model=LS 430', 'model=LS 460',
       'model=LS 600h L', 'model=LSS', 'model=LTD Crown Victoria',
       'model=LX 450', 'model=LX 470', 'model=LX 570', 'model=LaCrosse',
       'model=Lancer', 'model=Lancer Evolution', 'model=Lancer Sportback',
       'model=Land Cruiser', 'model=Laser', 'model=Le Baron',
       'model=Le Mans', 'model=LeSabre', 'model=Leaf', 'model=Legacy',
       'model=Legend', 'model=Levante', 'model=Loyale', 'model=Lucerne',
       'model=Lumina', 'model=Lumina Minivan', 'model=M', 'model=M-Class',
       'model=M2', 'model=M3', 'model=M30', 'model=M35', 'model=M37',
       'model=M4', 'model=M45', 'model=M5', 'model=M56', 'model=M6',
       'model=M6 Gran Coupe', 'model=MDX', 'model=MKC', 'model=MKS',
       'model=MKT', 'model=MKX', 'model=MKZ', 'model=MKZ Hybrid',
       'model=MP4-12C', 'model=MPV', 'model=MR2', 'model=MR2 Spyder',
       'model=MX-3', 'model=MX-5 Miata', 'model=MX-6', 'model=Macan',
       'model=Magnum', 'model=Malibu', 'model=Malibu Classic',
       'model=Malibu Hybrid', 'model=Malibu Limited', 'model=Malibu Maxx',
       'model=Mark LT', 'model=Mark VII', 'model=Mark VIII',
       'model=Matrix', 'model=Maxima', 'model=Maybach',
       'model=Mazdaspeed 3', 'model=Mazdaspeed MX-5 Miata',
       'model=Mazdaspeed Protege', 'model=Metris', 'model=Metro',
       'model=Mighty Max Pickup', 'model=Millenia', 'model=Mirage',
       'model=Mirage G4', 'model=Model S', 'model=Monaco',
       'model=Montana', 'model=Montana SV6', 'model=Monte Carlo',
       'model=Montero', 'model=Montero Sport', 'model=Mulsanne',
       'model=Murano', 'model=Murano CrossCabriolet', 'model=Murcielago',
       'model=Mustang', 'model=Mustang SVT Cobra', 'model=NSX',
       'model=NV200', 'model=NX', 'model=NX 200t', 'model=NX 300h',
       'model=Navajo', 'model=Navigator', 'model=Neon',
       'model=New Beetle', 'model=New Yorker', 'model=Ninety-Eight',
       'model=Nitro', 'model=Odyssey', 'model=Omni', 'model=Optima',
       'model=Optima Hybrid', 'model=Outback', 'model=Outlander',
       'model=Outlander Sport', 'model=PT Cruiser', 'model=Pacifica',
       'model=Panamera', 'model=Park Avenue', 'model=Paseo',
       'model=Passat', 'model=Passport', 'model=Pathfinder',
       'model=Phaeton', 'model=Phantom', 'model=Phantom Coupe',
       'model=Phantom Drophead Coupe', 'model=Pickup', 'model=Pilot',
       'model=Precis', 'model=Prelude', 'model=Previa', 'model=Prius',
       'model=Prius Prime', 'model=Prius c', 'model=Prius v',
       'model=Prizm', 'model=Probe', 'model=Protege', 'model=Protege5',
       'model=Prowler', 'model=Q3', 'model=Q40', 'model=Q45', 'model=Q5',
       'model=Q50', 'model=Q60 Convertible', 'model=Q60 Coupe',
       'model=Q7', 'model=Q70', 'model=QX', 'model=QX4', 'model=QX50',
       'model=QX56', 'model=QX60', 'model=QX70', 'model=QX80',
       'model=Quattroporte', 'model=Quest', 'model=R-Class', 'model=R32',
       'model=R8', 'model=RAM 150', 'model=RAM 250', 'model=RAV4',
       'model=RAV4 EV', 'model=RAV4 Hybrid', 'model=RC 200t',
       'model=RC 300', 'model=RC 350', 'model=RDX', 'model=RL',
       'model=RLX', 'model=RS 4', 'model=RS 5', 'model=RS 7', 'model=RSX',
       'model=RX 300', 'model=RX 330', 'model=RX 350', 'model=RX 400h',
       'model=RX 450h', 'model=RX-7', 'model=RX-8', 'model=Rabbit',
       'model=Raider', 'model=Rainier', 'model=Rally Wagon',
       'model=Ram 50 Pickup', 'model=Ram Cargo', 'model=Ram Pickup 1500',
       'model=Ram Van', 'model=Ram Wagon', 'model=Ramcharger',
       'model=Range Rover', 'model=Range Rover Evoque',
       'model=Range Rover Sport', 'model=Ranger', 'model=Rapide',
       'model=Rapide S', 'model=Reatta', 'model=Regal', 'model=Regency',
       'model=Rendezvous', 'model=Reno', 'model=Reventon',
       'model=Ridgeline', 'model=Rio', 'model=Riviera',
       'model=Roadmaster', 'model=Rogue', 'model=Rogue Select',
       'model=Rondo', 'model=Routan', 'model=S-10', 'model=S-10 Blazer',
       'model=S-15', 'model=S-15 Jimmy', 'model=S-Class', 'model=S2000',
       'model=S3', 'model=S4', 'model=S40', 'model=S5', 'model=S6',
       'model=S60', 'model=S60 Cross Country', 'model=S7', 'model=S70',
       'model=S8', 'model=S80', 'model=S90', 'model=SC 300',
       'model=SC 400', 'model=SC 430', 'model=SL-Class',
       'model=SLC-Class', 'model=SLK-Class', 'model=SLR McLaren',
       'model=SLS AMG', 'model=SLS AMG GT',
       'model=SLS AMG GT Final Edition', 'model=SLX', 'model=SQ5',
       'model=SRT Viper', 'model=SRX', 'model=STS', 'model=STS-V',
       'model=SVX', 'model=SX4', 'model=Safari', 'model=Safari Cargo',
       'model=Samurai', 'model=Santa Fe', 'model=Santa Fe Sport',
       'model=Savana', 'model=Savana Cargo', 'model=Scoupe',
       'model=Sebring', 'model=Sedona', 'model=Sentra', 'model=Sephia',
       'model=Sequoia', 'model=Seville', 'model=Shadow',
       'model=Shelby GT350', 'model=Shelby GT500', 'model=Sidekick',
       'model=Sienna', 'model=Sierra 1500', 'model=Sierra 1500 Classic',
       'model=Sierra 1500 Hybrid', 'model=Sierra 1500HD',
       'model=Sierra C3', 'model=Sierra Classic 1500', 'model=Sigma',
       'model=Silhouette', 'model=Silver Seraph', 'model=Silverado 1500',
       'model=Silverado 1500 Classic', 'model=Silverado 1500 Hybrid',
       'model=Skylark', 'model=Solstice', 'model=Sonata',
       'model=Sonata Hybrid', 'model=Sonic', 'model=Sonoma',
       'model=Sorento', 'model=Soul', 'model=Soul EV', 'model=Spark',
       'model=Spark EV', 'model=Spectra', 'model=Spirit',
       'model=Sportage', 'model=Sportvan', 'model=Spyder', 'model=Stanza',
       'model=Stealth', 'model=Stratus', 'model=Suburban',
       'model=Sunbird', 'model=Sundance', 'model=Sunfire', 'model=Supra',
       'model=Swift', 'model=Syclone', 'model=T100', 'model=TL',
       'model=TLX', 'model=TSX', 'model=TSX Sport Wagon', 'model=TT',
       'model=TTS', 'model=Tacoma', 'model=Tahoe', 'model=Tahoe Hybrid',
       'model=Tahoe Limited/Z71', 'model=Taurus', 'model=Taurus X',
       'model=Tempo', 'model=Tercel', 'model=Terrain', 'model=Terraza',
       'model=Thunderbird', 'model=Tiburon', 'model=Tiguan',
       'model=Titan', 'model=Toronado', 'model=Torrent', 'model=Touareg',
       'model=Touareg 2', 'model=Town Car', 'model=Town and Country',
       'model=Tracker', 'model=TrailBlazer', 'model=TrailBlazer EXT',
       'model=Trans Sport', 'model=Transit Connect',
       'model=Transit Wagon', 'model=Traverse', 'model=Trax',
       'model=Tribeca', 'model=Tribute', 'model=Tribute Hybrid',
       'model=Truck', 'model=Tucson', 'model=Tundra', 'model=Typhoon',
       'model=Uplander', 'model=V12 Vanquish', 'model=V12 Vantage',
       'model=V12 Vantage S', 'model=V40', 'model=V50', 'model=V60',
       'model=V60 Cross Country', 'model=V70', 'model=V8 Vantage',
       'model=Van', 'model=Vanagon', 'model=Vandura', 'model=Vanquish',
       'model=Vanwagon', 'model=Veloster', 'model=Venture', 'model=Venza',
       'model=Veracruz', 'model=Verano', 'model=Verona', 'model=Versa',
       'model=Versa Note', 'model=Veyron 16.4', 'model=Vibe',
       'model=Vigor', 'model=Viper', 'model=Virage', 'model=Vitara',
       'model=Voyager', 'model=WRX', 'model=Windstar',
       'model=Windstar Cargo', 'model=Wraith', 'model=X-90', 'model=X1',
       'model=X3', 'model=X4', 'model=X5', 'model=X5 M', 'model=X6',
       'model=X6 M', 'model=XC', 'model=XC60', 'model=XC70', 'model=XC90',
       'model=XG300', 'model=XG350', 'model=XL-7', 'model=XL7',
       'model=XLR', 'model=XLR-V', 'model=XT', 'model=XT5', 'model=XTS',
       'model=XV Crosstrek', 'model=Xterra', 'model=Yaris',
       'model=Yaris iA', 'model=Yukon', 'model=Yukon Denali',
       'model=Yukon Hybrid', 'model=Yukon XL', 'model=Z3', 'model=Z4',
       'model=Z4 M', 'model=Z8', 'model=ZDX', 'model=allroad',
       'model=allroad quattro', 'model=e-Golf', 'model=i-MiEV',
       'model=i3', 'model=iA', 'model=iQ', 'model=tC', 'model=xA',
       'model=xB', 'model=xD', 'transmission_type=AUTOMATED_MANUAL',
       'transmission_type=AUTOMATIC', 'transmission_type=DIRECT_DRIVE',
       'transmission_type=MANUAL', 'transmission_type=UNKNOWN',
       'vehicle_style=2dr Hatchback', 'vehicle_style=2dr SUV',
       'vehicle_style=4dr Hatchback', 'vehicle_style=4dr SUV',
       'vehicle_style=Cargo Minivan', 'vehicle_style=Cargo Van',
       'vehicle_style=Convertible', 'vehicle_style=Convertible SUV',
       'vehicle_style=Coupe', 'vehicle_style=Crew Cab Pickup',
       'vehicle_style=Extended Cab Pickup',
       'vehicle_style=Passenger Minivan', 'vehicle_style=Passenger Van',
       'vehicle_style=Regular Cab Pickup', 'vehicle_style=Sedan',
       'vehicle_style=Wagon', 'year'], dtype=object)

In [81]:
X_train = dv.transform(train_dict)

In [82]:
X_train.shape

(7148, 943)

In [83]:
val_dict = df_val.to_dict(orient='records')
X_val = dv.transform(val_dict)

In [84]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [85]:
LGmodel = LogisticRegression(solver ='liblinear', C=10, max_iter=1000, random_state=42)

In [86]:
LGmodel.fit(X_train,y_train)

LogisticRegression(C=10, max_iter=1000, random_state=42, solver='liblinear')

In [87]:
y_pred = LGmodel.predict(X_val)

In [88]:
y_pred

array([0, 1, 0, ..., 0, 1, 1])

In [89]:
accuracy = np.round(accuracy_score(y_val, y_pred),2)
accuracy

0.95

## Question 5

* lLet's find the least useful feature using the feature elimination techniqu
* 
Train a model with all these features (using the same parameters asn question 4)
* .
Now exclude each feature from this set and train a model without  t. Record the accuracy for each mo.
* for each ach feature, calculate the difference between the original accuracy and the accuracy without the feat
* re.
Which of following feature has the smallest difference?

In [90]:
features = df_train.columns.to_list()
features

['make',
 'model',
 'year',
 'engine_hp',
 'engine_cylinders',
 'transmission_type',
 'vehicle_style',
 'highway_mpg',
 'city_mpg']

In [91]:
original_accuracy = accuracy

In [92]:
Scores = pd.DataFrame(columns=['No_featured','Accuracy','Difference'])

In [93]:
for feature in features:
    features_subset = features.copy()
    features_subset.remove(feature)

    train_dict = df_train[features_subset].to_dict(orient='records')
    dv = DictVectorizer(sparse=False)
    dv.fit(train_dict)

    X_train = dv.transform(train_dict)

    val_dict = df_val[features_subset].to_dict(orient='records')
    X_val = dv.transform(val_dict)

    model = LogisticRegression(solver ='liblinear', C=10, max_iter=1000, random_state=42)
    model.fit(X_train, y_train)

    y_pred = model.predict(X_val)
    Feature_accuracy = accuracy_score(y_val,y_pred)

    Scores.loc[len(Scores)] = [feature, Feature_accuracy, original_accuracy-Feature_accuracy]

In [94]:
Scores

         No_featured  Accuracy  Difference
0               make  0.948384    0.001616
1              model  0.923626    0.026374
2               year  0.946706    0.003294
3          engine_hp  0.947125    0.002875
4   engine_cylinders  0.947125    0.002875
5  transmission_type  0.946286    0.003714
6      vehicle_style  0.932438    0.017562
7        highway_mpg  0.945867    0.004133
8           city_mpg  0.947125    0.002875

In [99]:
min_diff = Scores.Difference.min()
Scores[Scores.Difference == min_diff]

  No_featured  Accuracy  Difference
0        make  0.948384    0.001616

## Question 6* 
For this question, we'll see how to use a linear regression model from Scikit-Learn
* 
We'll need to use the original column price. Apply the logarithmic transformation to this colum
* .
Fit the Ridge regression model on the training da
  * a:
To make sure the results are reproducible across different versions of Scikit-Learn, fit the model with these paramet
  * rs:
model = Ridge(alpha=a, solver="sag", random_stat
* =42)
This model has a parameter alpha. Let's try the following values: [0, 0.01, 0.1, 
* , 10]
Which of these alphas leads to the best RMSE on the validation set? Round your RMSE scores to 3 decimal digits.

In [47]:
df.head().T

                            0            1         2         3            4
make                      BMW          BMW       BMW       BMW          BMW
model              1 Series M     1 Series  1 Series  1 Series     1 Series
year                     2011         2011      2011      2011         2011
engine_hp               335.0        300.0     300.0     230.0        230.0
engine_cylinders        335.0        300.0     300.0     230.0        230.0
transmission_type      MANUAL       MANUAL    MANUAL    MANUAL       MANUAL
vehicle_style           Coupe  Convertible     Coupe     Coupe  Convertible
highway_mpg                26           28        28        28           28
city_mpg                   19           19        20        18           18
price                   46135        40650     36350     29450        34500

In [37]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

In [48]:
df['price'] = np.log1p(df['price'])

In [49]:
df_full_train, df_test = train_test_split(df,test_size=0.2, random_state=42 )

In [50]:
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [51]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [52]:
df_full_train.head().T

,3181,5357,4874,8102,10400
make,Cadillac,Mercedes-Benz,Kia,Dodge,Hyundai
model,CT6,GLS-Class,Forte,RAM 250,Tiburon
year,2016,2017,2016,1993,2008
engine_hp,265.0,449.0,173.0,180.0,172.0
engine_cylinders,265.0,449.0,173.0,180.0,172.0
transmission_type,AUTOMATIC,AUTOMATIC,AUTOMATIC,MANUAL,AUTOMATIC
vehicle_style,Sedan,4dr SUV,Coupe,Regular Cab Pickup,2dr Hatchback
highway_mpg,31,18,34,16,24
city_mpg,22,14,25,11,17
price,10.887362,11.449464,9.898023,7.601402,9.9651

In [53]:
y_train = df_train.price.values
y_val = df_val.price.values
y_test = df_test.price.values

In [54]:
del df_train['price']
del df_val['price']
del df_test['price']

In [57]:
dv = DictVectorizer(sparse=False)
train_dict = df_train.to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val.to_dict(orient='records')
X_val = dv.transform(val_dict)

scores = {}
for a in [0, 0.01, 0.1, 1, 10] :
    model = Ridge(alpha=a, solver='sag', random_state=42)
    model.fit(X_train, y_train)
    y_pred = model.predict(X_val)
    score = mean_squared_error(y_val, y_pred, squared=False)
    scores[a] = round(score, 3)
    print(f'alpha = {a}:\t RMSE = {score}')

C:\Users\Camila Pulido\anaconda3\Lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

alpha = 0:	 RMSE = 0.5072798695374928

C:\Users\Camila Pulido\anaconda3\Lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

alpha = 0.01:	 RMSE = 0.507279949042125

C:\Users\Camila Pulido\anaconda3\Lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

alpha = 0.1:	 RMSE = 0.507280664577195

C:\Users\Camila Pulido\anaconda3\Lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

alpha = 1:	 RMSE = 0.5072878185316793
alpha = 10:	 RMSE = 0.507359221459397

C:\Users\Camila Pulido\anaconda3\Lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

In [58]:
scores

{0: 0.507, 0.01: 0.507, 0.1: 0.507, 1: 0.507, 10: 0.507}

In [59]:
min(scores)

0